<h2>À propos</h2>
<p>Cette application web permettant de gérer des observations d’animaux. Elle permet aux utilisateurs d’enregistrer, consulter et organiser des observations tout en facilitant la gestion des informations scientifiques sur les espèces animales.</p>

<p>Ce projet a été développé dans le cadre du cours <strong>Framework Web 2 (L3 Informatique - Université d’Orléans, année universitaire 2024-2025)</strong>. Il combine un <strong>backend Symfony</strong> (API Platform) et un <strong>frontend Angular</strong>.</p>

<h3>Équipe de développement :</h3>
<ul>
  <li><strong>Paulo Lucas</strong></li>
  <li><strong>Paul Nicolas</strong></li>
  <li><strong>Massamba Prince-Marcel</strong></li>
  <li><strong>Ouaammou Younes</strong></li>
</ul>

<p>Nous avons travaillé ensemble pour concevoir une application complète et évolutive, tout en mettant en œuvre l’ensemble des compétences acquises au cours de la formation.</p>